# 42 profile > API > Register a new app
FORTYTWO_CLIENT_ID=
FORTYTWO_CLIENT_SECRET=
FORTYTWO_REDIRECT_URI=http://localhost:3002/api/auth/callback

# Generate with: openssl rand -hex 32
SESSION_SECRET=
